@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
#main {
  width: 100%;
}
#hero {
  width: 100%;
}
header {
  width: 100%;
  height: 90px;
  background-color: rgb(218, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#navbar {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#navbar #nav {
  display: flex;
  gap: 50px;
}
#nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0029ff;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#left {
  width: 90px;
  height: 400px;
  background-color: #fff;
  border-radius: 0 20px 20px 20px;
  overflow: hidden;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expanded-width {
  width: 400px !important;
}
#content {
  padding: 20px;
  display: none; /* Initially hidden */
}

.expanded-width #content {
  display: block; /* Show content when the width is 400px */
}
#list {
  padding: 20px;
  margin-top: 1vw;
}

#content1 {
  margin: 1vw auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  border-radius: 1vw;
  border: 1px solid #0029ff;
}
.initial-width #content1 {
  display: block; /* Show content1 when the width is 90px */
}
.expanded-width #content1 {
  display: none; /* Hide content1 when the width is 400px */
}
#top {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
}
#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #fff;
}
#center {
  width: 1000px;
  height: 700px;
  padding: 1vw 0.5vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#heading h2 {
  text-transform: capitalize;
  font-weight: 600;
  color: #0029ff;
}
#heading button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #0029ff;
}
#discription {
  padding: 1vw 2vw;
  width: 100%;
  margin-top: 2vw;
  border-radius: 10px;
  background-color: #e9ecef;
}
#discription h3 {
  text-transform: capitalize;
  font-size: 20px;
}
#discription p {
  margin-top: 20px;
  font-size: 15px;
}
#boxs {
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  width: 100%;
}
#boxs .box {
  border-radius: 20px;
  margin: 1vw 0;
  width: 45%;
  height: 100vh;
  overflow: hidden;
}
#boxs .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  position: absolute;
  right: -10%;
  bottom: -120%;
  width: 100px;
  height: 300px;
}
#icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0029ff;
  padding: 1.5vw;
  border-radius: 50%;
}
#icons a i {
  font-size: 2vw;
  color: #fff;
}
#right {
  margin-top: 20px;
  width: 80px;
  height: 350px;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#item {
  padding: 1vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 100%;
  background-color: #000;
}
#item i {
  color: #fff;
  font-size: 35px;
}
#item h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
